<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
		<feature>servlet-4.0</feature>
		<feature>jsp-2.3</feature>
		<feature>cdi-2.0</feature>
		<feature>appSecurity-2.0</feature>
	</featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" host="*"/>
                  
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <keyStore id="defaultKeyStore" password="password" type="PKCS12" />

<!--
    <basicRegistry id="basic" realm="BasicRealm">
        <user name="admin" password="admin"/>
    </basicRegistry>
-->

    <webApplication location="misc-apps.war" id="misc-apps" contextRoot="miscapps">
    	<classloader apiTypeVisibility="+third-party"></classloader>
    </webApplication>
</server>
